* {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.bai1{
    margin: 20px auto;
    text-align: center;
    width: 800px;
}
.logo {
    margin-bottom: 15px;
}
.bai1 h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
}
.bai1 h2 strong {
    color: #00b0f0;
}
.text {
    margin-bottom: 40px;
    font-size: 18px;
}
.o {
    text-align: center;
}
.o li {
    display: inline;
    margin: 0 15px;
}
.o li a {
    background-color: #2e3133;
    border-radius: 4px;
    display: inline-block;
    color: aliceblue;
    height: 50px;
    line-height: 50px;
    min-width: 160px;
    text-decoration: none;
    transition: 0.8s background-color ;
}
.o li a:hover {
    background-color: rgb(72, 169, 136);
}



